importing the dataset

In [39]:
import pandas as pd
import numpy as np

read the train and test datasete

In [40]:
train_df=pd.read_csv('train_data.csv')
test_df=pd.read_csv('test_data.csv')

In [41]:
train_df.head(10)

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,2
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,0
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,0
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,0
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,2
5,cxcon_16,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,0
6,cxcon_19,0,219,7662,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,3,3,255,255,1
7,cxcon_22,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,511,511,255,255,2
8,cxcon_25,0,0,0,1.0,1.0,0.0,0.0,0.05,0.07,...,0,0,0,0,0,221,11,255,11,0
9,cxcon_28,0,105,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,2,2,255,246,1

In [42]:
test_df.head(10)

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
0,cxcon_2,0,331,6085,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,13,13,255,255
1,cxcon_5,0,520,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255
2,cxcon_8,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255
3,cxcon_11,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,510,509,255,255
4,cxcon_14,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255
5,cxcon_17,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255
6,cxcon_20,0,0,0,0.0,0.0,1.0,1.0,0.04,0.06,...,0,0,0,0,0,0,187,7,255,7
7,cxcon_23,0,332,743,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,30,30,180,255
8,cxcon_26,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255
9,cxcon_29,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,...,0,0,0,0,0,0,511,511,255,255

In [43]:
train_df.shape

(169307, 43)

In [44]:
test_df.shape

(91166, 42)

In [45]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169307 entries, 0 to 169306
Data columns (total 43 columns):
connection_id    169307 non-null object
cont_1           169307 non-null int64
cont_2           169307 non-null int64
cont_3           169307 non-null int64
cont_4           169307 non-null float64
cont_5           169307 non-null float64
cont_6           169307 non-null float64
cont_7           169307 non-null float64
cont_8           169307 non-null float64
cont_9           169307 non-null float64
cont_10          169307 non-null float64
cont_11          169307 non-null float64
cont_12          169307 non-null float64
cont_13          169307 non-null float64
cont_14          169307 non-null float64
cont_15          169307 non-null float64
cont_16          169307 non-null float64
cont_17          169307 non-null float64
cont_18          169307 non-null float64
cat_1            169307 non-null int64
cat_2            169307 non-null int64
cat_3            169307 non-null int64
cat_4            169307 non-null int64
cat_5            169307 non-null int64
cat_6            169307 non-null int64
cat_7            169307 non-null int64
cat_8            169307 non-null int64
cat_9            169307 non-null int64
cat_10           169307 non-null int64
cat_11           169307 non-null int64
cat_12           169307 non-null int64
cat_13           169307 non-null int64
cat_14           169307 non-null int64
cat_15           169307 non-null int64
cat_16           169307 non-null int64
cat_17           169307 non-null int64
cat_18           169307 non-null int64
cat_19           169307 non-null int64
cat_20           169307 non-null int64
cat_21           169307 non-null int64
cat_22           169307 non-null int64
cat_23           169307 non-null int64
target           169307 non-null int64
dtypes: float64(15), int64(27), object(1)
memory usage: 55.5+ MB

In [46]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91166 entries, 0 to 91165
Data columns (total 42 columns):
connection_id    91166 non-null object
cont_1           91166 non-null int64
cont_2           91166 non-null int64
cont_3           91166 non-null int64
cont_4           91166 non-null float64
cont_5           91166 non-null float64
cont_6           91166 non-null float64
cont_7           91166 non-null float64
cont_8           91166 non-null float64
cont_9           91166 non-null float64
cont_10          91166 non-null float64
cont_11          91166 non-null float64
cont_12          91166 non-null float64
cont_13          91166 non-null float64
cont_14          91166 non-null float64
cont_15          91166 non-null float64
cont_16          91166 non-null float64
cont_17          91166 non-null float64
cont_18          91166 non-null float64
cat_1            91166 non-null int64
cat_2            91166 non-null int64
cat_3            91166 non-null int64
cat_4            91166 non-null int64
cat_5            91166 non-null int64
cat_6            91166 non-null int64
cat_7            91166 non-null int64
cat_8            91166 non-null int64
cat_9            91166 non-null int64
cat_10           91166 non-null int64
cat_11           91166 non-null int64
cat_12           91166 non-null int64
cat_13           91166 non-null int64
cat_14           91166 non-null int64
cat_15           91166 non-null int64
cat_16           91166 non-null int64
cat_17           91166 non-null int64
cat_18           91166 non-null int64
cat_19           91166 non-null int64
cat_20           91166 non-null int64
cat_21           91166 non-null int64
cat_22           91166 non-null int64
cat_23           91166 non-null int64
dtypes: float64(15), int64(26), object(1)
memory usage: 29.2+ MB

finding the null values in train and test dataset

In [47]:
train_df.isnull().sum()

connection_id    0
cont_1           0
cont_2           0
cont_3           0
cont_4           0
cont_5           0
cont_6           0
cont_7           0
cont_8           0
cont_9           0
cont_10          0
cont_11          0
cont_12          0
cont_13          0
cont_14          0
cont_15          0
cont_16          0
cont_17          0
cont_18          0
cat_1            0
cat_2            0
cat_3            0
cat_4            0
cat_5            0
cat_6            0
cat_7            0
cat_8            0
cat_9            0
cat_10           0
cat_11           0
cat_12           0
cat_13           0
cat_14           0
cat_15           0
cat_16           0
cat_17           0
cat_18           0
cat_19           0
cat_20           0
cat_21           0
cat_22           0
cat_23           0
target           0
dtype: int64

In [48]:
test_df.isnull().sum()

connection_id    0
cont_1           0
cont_2           0
cont_3           0
cont_4           0
cont_5           0
cont_6           0
cont_7           0
cont_8           0
cont_9           0
cont_10          0
cont_11          0
cont_12          0
cont_13          0
cont_14          0
cont_15          0
cont_16          0
cont_17          0
cont_18          0
cat_1            0
cat_2            0
cat_3            0
cat_4            0
cat_5            0
cat_6            0
cat_7            0
cat_8            0
cat_9            0
cat_10           0
cat_11           0
cat_12           0
cat_13           0
cat_14           0
cat_15           0
cat_16           0
cat_17           0
cat_18           0
cat_19           0
cat_20           0
cat_21           0
cat_22           0
cat_23           0
dtype: int64

In [49]:
train_df.columns

Index(['connection_id', 'cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
       'cont_6', 'cont_7', 'cont_8', 'cont_9', 'cont_10', 'cont_11', 'cont_12',
       'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
       'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8',
       'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15',
       'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20', 'cat_21', 'cat_22',
       'cat_23', 'target'],
      dtype='object')

In [50]:
test_df.columns

Index(['connection_id', 'cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
       'cont_6', 'cont_7', 'cont_8', 'cont_9', 'cont_10', 'cont_11', 'cont_12',
       'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
       'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8',
       'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15',
       'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20', 'cat_21', 'cat_22',
       'cat_23'],
      dtype='object')

In [51]:
train_df['target'].value_counts()

0    98868
2    36854
1    33585
Name: target, dtype: int64

converting the integer data to categorical data whose actual value is object type

In [52]:
train_df[['cat_1','cat_2','cat_3','cat_4','cat_5','cat_6','cat_7','cat_8','cat_9','cat_10','cat_11','cat_12','cat_13',
          'cat_14','cat_15','cat_16','cat_17','cat_18','cat_19','cat_20','cat_21',
          'cat_22','cat_23','target']]=train_df[['cat_1','cat_2','cat_3','cat_4','cat_5','cat_6',
                                                 'cat_7','cat_8','cat_9','cat_10','cat_11','cat_12','cat_13','cat_14',
                                                 'cat_15','cat_16','cat_17','cat_18','cat_19','cat_20','cat_21',
                                                 'cat_22','cat_23','target']].astype(object)

In [53]:
test_df[['cat_1','cat_2','cat_3','cat_4','cat_5','cat_6','cat_7','cat_8','cat_9','cat_10','cat_11','cat_12','cat_13',
          'cat_14','cat_15','cat_16','cat_17','cat_18','cat_19','cat_20','cat_21',
          'cat_22','cat_23']]=test_df[['cat_1','cat_2','cat_3','cat_4','cat_5','cat_6',
                                                 'cat_7','cat_8','cat_9','cat_10','cat_11','cat_12','cat_13','cat_14',
                                                 'cat_15','cat_16','cat_17','cat_18','cat_19','cat_20','cat_21',
                                                 'cat_22','cat_23']].astype(object)

seperate the numerical values columns

In [54]:
num_data_train=train_df.describe()
num_data_train

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,cont_11,cont_12,cont_13,cont_14,cont_15,cont_16,cont_17,cont_18
count,169307.000000,1.693070e+05,1.693070e+05,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000
mean,44.136722,1.077011e+03,7.501477e+02,0.171399,0.171479,0.062442,0.062478,0.791319,0.021317,0.028090,0.755858,0.030386,0.601241,0.006442,0.171599,0.171341,0.062712,0.062327
std,659.337783,4.302746e+04,3.527929e+04,0.376214,0.376593,0.241000,0.241354,0.388389,0.084299,0.139745,0.409922,0.107547,0.481976,0.041425,0.376159,0.376465,0.239591,0.239554
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,42596.000000,1.139690e+07,1.173059e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
num_data_test=test_df.describe()
num_data_test

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,cont_11,cont_12,cont_13,cont_14,cont_15,cont_16,cont_17,cont_18
count,91166.000000,9.116600e+04,9.116600e+04,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000
mean,44.499583,1.861971e+03,6.885151e+02,0.169543,0.169616,0.064301,0.064299,0.791855,0.021109,0.027920,0.756498,0.030313,0.602494,0.006436,0.169583,0.169515,0.064585,0.064132
std,676.749529,2.977819e+05,2.522652e+04,0.374541,0.374968,0.244362,0.244723,0.388186,0.083526,0.139383,0.409690,0.107963,0.481581,0.041397,0.374426,0.374905,0.243027,0.242832
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39910.000000,8.958152e+07,7.028652e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

data correlation

In [56]:
corr_data_train=num_data_train -(num_data_train.mean()/num_data_train.std())

In [57]:
corr_data_test=num_data_test -(num_data_test.mean()/num_data_test.std())

In [58]:
corr_data_train

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,cont_11,cont_12,cont_13,cont_14,cont_15,cont_16,cont_17,cont_18
count,169306.553778,1.693066e+05,1.693066e+05,169306.646443,169306.646443,169306.646443,169306.646443,169306.646434,169306.646444,169306.646444,169306.646436,169306.646444,169306.646437,169306.646444,169306.646443,169306.646443,169306.646444,169306.646444
mean,43.690500,1.076650e+03,7.497871e+02,-0.182158,-0.182078,-0.291115,-0.291078,0.437753,-0.332239,-0.325467,0.402294,-0.323170,0.247678,-0.347114,-0.181958,-0.182216,-0.290844,-0.291229
std,658.891560,4.302710e+04,3.527892e+04,0.022656,0.023036,-0.112556,-0.112203,0.034823,-0.269257,-0.213811,0.056358,-0.246009,0.128413,-0.312131,0.022601,0.022908,-0.113966,-0.114002
min,-0.446222,-3.611586e-01,-3.606080e-01,-0.353557,-0.353557,-0.353557,-0.353557,-0.353566,-0.353556,-0.353556,-0.353564,-0.353556,-0.353563,-0.353556,-0.353557,-0.353557,-0.353556,-0.353556
25%,-0.446222,4.463884e+01,-3.606080e-01,-0.353557,-0.353557,-0.353557,-0.353557,0.646434,-0.353556,-0.353556,0.126436,-0.353556,-0.353563,-0.353556,-0.353557,-0.353557,-0.353556,-0.353556
50%,-0.446222,5.196388e+02,-3.606080e-01,-0.353557,-0.353557,-0.353557,-0.353557,0.646434,-0.353556,-0.353556,0.646436,-0.353556,0.646437,-0.353556,-0.353557,-0.353557,-0.353556,-0.353556
75%,-0.446222,1.031639e+03,-3.606080e-01,-0.353557,-0.353557,-0.353557,-0.353557,0.646434,-0.353556,-0.353556,0.646436,-0.313556,0.646437,-0.353556,-0.353557,-0.353557,-0.353556,-0.353556
max,42595.553778,1.139690e+07,1.173059e+07,0.646443,0.646443,0.646443,0.646443,0.646434,0.646444,0.646444,0.646436,0.646444,0.646437,0.646444,0.646443,0.646443,0.646444,0.646444

In [59]:
corr_data_test

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,cont_11,cont_12,cont_13,cont_14,cont_15,cont_16,cont_17,cont_18
count,91165.504338,9.116564e+04,9.116564e+04,91165.646440,91165.646440,91165.646441,91165.646441,91165.646424,91165.646442,91165.646441,91165.646426,91165.646441,91165.646429,91165.646442,91165.646440,91165.646440,91165.646441,91165.646441
mean,44.003921,1.861615e+03,6.881548e+02,-0.184017,-0.183944,-0.289258,-0.289260,0.438278,-0.332449,-0.325638,0.402924,-0.323245,0.248922,-0.347122,-0.183977,-0.184045,-0.288974,-0.289427
std,676.253867,2.977816e+05,2.522616e+04,0.020981,0.021408,-0.109197,-0.108837,0.034610,-0.270032,-0.214175,0.056116,-0.245596,0.128010,-0.312161,0.020866,0.021345,-0.110532,-0.110727
min,-0.495662,-3.553226e-01,-3.602709e-01,-0.353560,-0.353560,-0.353559,-0.353559,-0.353576,-0.353558,-0.353559,-0.353574,-0.353559,-0.353571,-0.353558,-0.353560,-0.353560,-0.353559,-0.353559
25%,-0.495662,4.464468e+01,-3.602709e-01,-0.353560,-0.353560,-0.353559,-0.353559,0.646424,-0.353558,-0.353559,0.146426,-0.353559,-0.353571,-0.353558,-0.353560,-0.353560,-0.353559,-0.353559
50%,-0.495662,5.196447e+02,-3.602709e-01,-0.353560,-0.353560,-0.353559,-0.353559,0.646424,-0.353558,-0.353559,0.646426,-0.353559,0.646429,-0.353558,-0.353560,-0.353560,-0.353559,-0.353559
75%,-0.495662,1.031645e+03,-3.602709e-01,-0.353560,-0.353560,-0.353559,-0.353559,0.646424,-0.353558,-0.353559,0.646426,-0.313559,0.646429,-0.353558,-0.353560,-0.353560,-0.353559,-0.353559
max,39909.504338,8.958152e+07,7.028652e+06,0.646440,0.646440,0.646441,0.646441,0.646424,0.646442,0.646441,0.646426,0.646441,0.646429,0.646442,0.646440,0.646440,0.646441,0.646441

In [60]:
cat_data_train=train_df.describe(include=['O'])
__target=cat_data_train.target
cat_data_train=cat_data_train.drop('target',axis=1)
cat_data_train

,connection_id,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
count,169307,169307,169307,169307,169307,169307,169307,169307,169307,169307,...,169307,169307,169307,169307,169307,169307,169307,169307,169307,169307
unique,169307,3,64,11,2,3,2,18,2,2,...,10,3,6,1,2,2,439,393,256,256
top,cxcon_164461,3,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,511,511,255,255
freq,1,97394,96680,129734,169305,169265,169306,168972,169289,144695,...,169224,169295,169143,169307,169306,169160,77311,76871,148789,115863

In [61]:
cat_data_test=test_df.describe(include=['O'])
#__target=cat_data.target
#cat_data=cat_data.drop('target',axis=1)
cat_data_test

,connection_id,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
count,91166,91166,91166,91166,91166,91166,91166,91166,91166,91166,...,91166,91166,91166,91166,91166,91166,91166,91166,91166,91166
unique,91166,3,64,11,2,3,1,16,3,2,...,4,2,4,1,1,2,426,361,256,256
top,cxcon_19730,3,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,511,511,255,255
freq,1,52541,52161,69852,91165,91141,91166,90967,91138,77981,...,91131,91158,91081,91166,91166,91070,41687,41453,80176,62387

In [62]:
cat_data_train['target'] = train_df["target"]

In [63]:
cat_data_train.columns

Index(['connection_id', 'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6',
       'cat_7', 'cat_8', 'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13',
       'cat_14', 'cat_15', 'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20',
       'cat_21', 'cat_22', 'cat_23', 'target'],
      dtype='object')

In [64]:
cat_data_test.columns

Index(['connection_id', 'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6',
       'cat_7', 'cat_8', 'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13',
       'cat_14', 'cat_15', 'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20',
       'cat_21', 'cat_22', 'cat_23'],
      dtype='object')

In [65]:
type(cat_data_train)

pandas.core.frame.DataFrame

In [66]:
type(cat_data_test)

pandas.core.frame.DataFrame

In [67]:
cat_train = train_df.select_dtypes(exclude=[np.number])

In [68]:
cat_test = test_df.select_dtypes(exclude=[np.number])

In [69]:
cat_test.columns

Index(['connection_id', 'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6',
       'cat_7', 'cat_8', 'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13',
       'cat_14', 'cat_15', 'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20',
       'cat_21', 'cat_22', 'cat_23'],
      dtype='object')

In [70]:
cat_train.drop('connection_id',axis=1,inplace=True)

In [71]:
cat_test.drop('connection_id',axis=1,inplace=True)

In [72]:
cat_train.columns

Index(['cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8',
       'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15',
       'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20', 'cat_21', 'cat_22',
       'cat_23', 'target'],
      dtype='object')

In [73]:
cat_test.columns

Index(['cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8',
       'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15',
       'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20', 'cat_21', 'cat_22',
       'cat_23'],
      dtype='object')

In [74]:
X_train=train_df.drop(['target'],axis=1)
y_train=train_df['target']
X_train=X_train.drop(['connection_id'],axis=1)

In [75]:
X_test=test_df
X_test=X_test.drop(['connection_id'],axis=1)

In [83]:
y_train=y_train.astype('int')
y_train

0         2
1         0
2         0
3         0
4         2
5         0
6         1
7         2
8         0
9         1
10        0
11        1
12        0
13        1
14        2
15        0
16        1
17        1
18        2
19        1
20        0
21        1
22        0
23        1
24        0
25        0
26        0
27        0
28        2
29        2
         ..
169277    0
169278    1
169279    0
169280    0
169281    2
169282    0
169283    2
169284    0
169285    1
169286    0
169287    1
169288    0
169289    0
169290    2
169291    1
169292    0
169293    2
169294    0
169295    0
169296    2
169297    0
169298    2
169299    0
169300    0
169301    0
169302    1
169303    0
169304    1
169305    0
169306    1
Name: target, Length: 169307, dtype: int32

In [76]:
X_train.head(10)

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
0,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
1,0,520,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
2,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
3,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
4,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
5,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
6,0,219,7662,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,3,3,255,255
7,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
8,0,0,0,1.0,1.0,0.0,0.0,0.05,0.07,0.0,...,0,0,0,0,0,0,221,11,255,11
9,0,105,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,2,2,255,246

In [80]:
X_test.head(10)

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
0,0,331,6085,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,13,13,255,255
1,0,520,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
2,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
3,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,510,509,255,255
4,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
5,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
6,0,0,0,0.0,0.0,1.0,1.0,0.04,0.06,0.0,...,0,0,0,0,0,0,187,7,255,7
7,0,332,743,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,30,30,180,255
8,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255
9,0,1032,0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,...,0,0,0,0,0,0,511,511,255,255

# model training

## support vector classification

In [84]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\Atul\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=0,
    shrinking=True, tol=0.001, verbose=False)

In [85]:
y_pred = classifier.predict(X_test)

In [87]:
'''from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)'''

'from sklearn.metrics import confusion_matrix, accuracy_score\ncm = confusion_matrix(y_test, y_pred)\nprint(cm)\naccuracy_score(y_test, y_pred)'

## submitting the result with 0.77774% accuracy

In [88]:
sub = pd.read_csv('sample_submission.csv')

In [89]:
sub['target'] = y_pred
sub['target'] = sub['target'].astype(int)
sub.to_csv('sub1_100_10_1_multi.csv', index=False)